.navbar-list {
	margin: 0;
	flex: 1;
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav-link {
	margin-left: 50px;
	font-size: 1.2rem;
	cursor: pointer;
	color: var(--white);
}

nav-link:hover {
	background: #5f2eea;
	color: white;
}

.nav-item {
	margin-left: 40px;
}

.fa {
	box-sizing: border-box;
	padding: 10px;
	width: 42.5px;
	height: 42.5px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	color: #5f2eea;
	text-align: center;
	font-size: 1.2em;
	transition: all 1s;
}

form:hover {
	width: 200px;
	cursor: pointer;
}

form:hover input {
	display: block;
}

form:hover .fa {
	background: #5f2eea;
	color: white;
}
